.scorecard {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 130px;
  overflow: hidden;
  background-image: linear-gradient(180deg,#ffffff 0%,#a8a8a8 100%);
}
.scorecard-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filtergroup {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 70px;
  overflow: hidden;
  color: #ffffff;
  background-image: linear-gradient(180deg,#d66c44 0%,#d18237 100%)
}
.bp_name {
  color: #324856;
  font-weight: bold;
}
.navbar-image {
  max-width: 25px;
  max-height: 25px;
}
