ul.bullet, li.bullet {
  margin-left: 5px;
  padding-left: 10px;
}
li.bullet {
  list-style: initial;
}
section.section {
  padding: 1rem 1.5rem;
}
h1.title.is-1 {
  font-size: 2rem;
}
h2.title.is-2 {
  font-size: 1.5rem;
}
footer.footer {
  background: #eeeeee;
}
.has-text-warning2 {
  color: orange !important;
}
.scorecard {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: solid 1px;
  border-color: grey;
  width: 200px;
  height: 130px;
  overflow: hidden;
  background-color: #EEEEEE;
}
.filtergroup {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: solid 1px;
  border-color: grey;
  width: 200px;
  height: 70px;
  overflow: hidden;
  background-color: #EEEEFF;
}
